<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - UST Platform</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/UST_Platform.styles.css" asp-append-version="true" />
</head>
<body>

    <!-- Header box with company name and username placeholder -->
    <header>
        <div class="container-fluid bg-dark text-white p-3 d-flex justify-content-between align-items-center mb-3">
            <h1 class="text-left">UST Platform</h1>
            @if (User.Identity.IsAuthenticated)
            {
                <span class="text-right"><b>@User.Identity.Name.Replace('_', ' ')</b></span>
            }
        </div>
        <!-- Navigation bar with four links -->
        @if (User.Identity.IsAuthenticated)
        {
            <nav class="container-fluid bg-light border-top border-bottom p-2 mb-3">
                <ul class="nav justify-content-around">
                    <li class="nav-item">
                        <a class="nav-link" href="#">Courses</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">My Courses</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="Account/Cabinet/@User.Identity.Name">My Cabinet</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Account/Logout">Log Out</a>
                    </li>
                </ul>
            </nav>
        }
    </header>

    <div class="container">
        <main role="main">
            @RenderBody()
        </main>
    </div>

    <!-- Footer with company name -->
    <footer class="container-fluid bg-dark text-white p-5 d-flex justify-content-between align-items-center border-top border-white mt-3">
        <!-- Added margin top-->
        <span class="text-left text-muted">&copy; UST Platform</span>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
